.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  outline: none;
}

.form {
  padding: 24px;
}

.formFields {
  display: flex;
  gap: 24px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.textField {
  flex-grow: 1;
}
