.hidden {
  display: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;

  align-items: center;
  flex-direction: column;
  background: rgb(248, 248, 248);
}

.form {
  display: flex;
  margin-bottom: 8px;
  flex-wrap: wrap;
  padding-top: 32px;
  gap: 24px;
}

.guest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #888;
}

.guestList {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.guestControl {
  justify-self: end;
}

.paper {
  padding: 24px;
  margin-top: 24px;
}

.textField {
  flex-grow: 1;
}

.formButton {
  display: flex;
  align-self: start;
  padding-top: 12px;
}

.loading {
  padding: 24px 0;
}

.guestListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.filterIcon {
  justify-content: end;
}

.loadingBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper {
  position: relative;
}

.attendingLabel {
  font-size: 16px;
}
